*{
    margin: 0;
    padding: 0;
    
}

#form{
    box-shadow: 0 0 10px black;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    margin-left: 24%;
    margin-top: 40px;
 font-family: Verdana, Geneva, Tahoma, sans-serif   ;
    padding: 20px;
}
 h2{
     text-align: center;
     height: 50px;
 }
 h3{
    text-align: center;
    height: 50px;
}

 .blank{
     padding: 10px;
     width: 425px;
     border-radius: 20px;
     font-size: 15px;
 }

 button{
    width: 400px;
    height: 30px;
    border-radius: 15px;
    font-size: 20px;
    color:rgb(59, 29, 29);
    background-color: rgb(113, 221, 113);
}
button:hover{
   color: white;
   cursor: pointer;
   background-color: rgb(231, 161, 161);
  
}
#option{
    padding: 10px;
    width: 450px;
    border-radius: 20px;
    font-size: 15px;
}
#describe{ padding: 10px;
    width: 425px;
    border-radius: 20px;
    font-size: 15px;

}